<h3>USER INFOMATION</h3>

<form action="/admin/signInSuccessfully" method="POST" >
<input type="hidden" name="id" >
<div class="form-group">
    <label for="">Email</label>
    <input type="text" name="email" id="email"  class="form-control">
</div>
<div class="form-group">
    <label for="">Password</label>
    <input type="text" name="password" id="password"  class="form-control">
</div>

    
</div>
<div class="form-group text-center">
    <button type="submit" class="btn btn-primary btn-sm">Đăng nhập</button>
</div>

</form>